# Import Data

In [1]:
from functions import data_clean

In [2]:
data = data_clean()

In [3]:
data.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,c,5350.0,1.0,2013.0,1.0,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0,d,a,6630.0,1.0,2013.0,0.0,NaN,NaN,NaN
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,2140.0,8.0,2012.0,0.0,NaN,NaN,NaN
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,c,100.0,6.0,2010.0,1.0,18.0,2010.0,"Feb,May,Aug,Nov"
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0,a,a,160.0,8.0,2012.0,0.0,NaN,NaN,NaN

# Feature Engineering

In [4]:
from functions import feature_engineering

In [5]:
data_feat = feature_engineering(data)

In [6]:
data_feat.head()

,Store,Sales,Customers,Open,Promo,SchoolHoliday,CompetitionDistance,state_holiday,winter,spring,...,Assortment_c,competition_active,Promo2_active,dayofweek,quarter,month,year,dayofyear,dayofmonth,weekofyear
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,353.0,3139.0,820.0,1.0,0.0,1.0,900.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,335.0,2401.0,482.0,1.0,0.0,1.0,90.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,512.0,2646.0,625.0,1.0,0.0,1.0,590.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,494.0,3113.0,527.0,1.0,0.0,1.0,1260.0,1.0,1.0,0.0,...,0,1.0,0.0,1,1,1,2013,1,1,1
2013-01-01,530.0,2907.0,532.0,1.0,0.0,1.0,18160.0,1.0,1.0,0.0,...,1,1.0,0.0,1,1,1,2013,1,1,1

# Prediction

In [7]:
from functions import split_x_y

In [8]:
X,y = split_x_y(data_feat, label='Sales')

### Features Scaling

In [9]:
from functions import scaler

In [10]:
X_scaled = scaler(X, mode='train', scaler=None)

### Prediction

In [11]:
from functions import model_fitting, predict

In [12]:
#model = model_fitting(X_scaled, y)

In [16]:
from joblib import dump, load

In [17]:
model = load('./fitted_model.joblib')
predict(X_scaled, y, model)

4.844959130707878

# Test Wraper

In [ ]:
def process_test(file_name='./test.csv')